body {
  align-content: center;
}
h1 {
  align-items: center;
  align-content: center;
  color: blueviolet;
  border: 2px solid #000;
  text-align: center;
  justify-content: center;
  background-color: aliceblue;
}

header {
  padding: 2rem;
}

.primera-sec {
  display: flex;
}
.titulo {
  display: flex;
  margin-left: 40%;
}

nav {
  text-align: center;
  justify-content: center;
  border: 2px solid #000;
  background-color: aliceblue;
}
nav ul li {
  display: inline-block;
  margin: 2rem;
}
main section h1 {
  text-align: center;
}
#quienes {
  text-align: center;
  border: 3px solid #000;
  background-color: palevioletred;
  font-family: "georgia", sans-serif;
}
#manufactura {
  text-align: center;
  border: 3px solid #000;
  background-color: palevioletred;
  font-family: "georgia", sans-serif;
}
#MATERIALES {
  text-align: center;
  border: 3px solid #000;
  background-color: palevioletred;
  font-family: "georgia", sans-serif;
}

main {
  background-color: white;
  margin-right: 2rem;
  margin-left: 2rem;
}
body {
  background-image: url("../img/TEXTURA-FONDO.jpg");
  margin-bottom: 30px;
}
#logo {
  border-radius: 50%;
  width: 60px;
}
#fotos {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
footer {
  border: 3px solid #000;
  margin-top: 20px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;

}
img {
  margin: 0 10px;
}

